<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>产品展示</title>
		<link rel="icon" href="../images/index_tit_logo.ico" />
        <link rel="stylesheet" type="text/css" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../css/product.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
       
    </head>
    <body>
        <!--左侧导航栏区域-->
        <div class="menu">
            <!--头部-->
            <div class="headPic">
				<a href="../index.html#home"><img src="../images/index_logo.png" alt=""/></a>
            </div>
            <!--中英文切换-->
            <div class="langue clearfix">
                <a href="" class="ch">中文</a>
                <a href="" class="en">EN</a>
            </div>
            <!--导航栏-->
            <ul class="nav" id="nav">
                <li data-menuanchor="home" ><em><img src="../images/home-nav.png"/></em><a href="../index.html?page=0">集团首页</a></li>
                <li data-menuanchor="company"><em><img src="../images/company-nav.png"/></em><a href="../index.html?page=1">集团介绍</a></li>
                <li data-menuanchor="distri"><em><img src="../images/distri-nav.png" alt="" /></em><a href="../index.html?page=2">战略分布</a></li>
                <li data-menuanchor="news"><em><img src="../images/news-nav.png"/></em><a href="../index.html?page=3">新闻资讯</a></li>
                <li data-menuanchor="product" class="active"><em><img src="../images/product-nav.png" alt="" /></em><a href="../index.html?page=4">产品展示</a></li>
                <li data-menuanchor="group"><em><img src="../images/groop-nav.png" alt="" /></em><a href="../index.html?page=5">团队展示</a></li>
                <li data-menuanchor="contact"><em><img src="../images/contact-nav.png"/></em><a href="../index.html?page=6">联系我们</a></li>
            </ul>
            <!--页脚-->
            <div class="footer">
                <p>COPYRIGHT&copy;2015 厦门益力康贸易有限公司 ALL RIGHTS RESERVED.</p>
            </div>
        </div>
        <div class="product">
            <div class="head_product clearfix" id="head_product">
                <span class="active_product">清</span>
                <span>调</span>
                <span>补</span>
                <span>其他</span>
            </div>
            <ul class="main_product">
                <li class="item">
                    <a href="">
                        <img id="img_item" src="../images/bg1.jpg"alt="" />
                    </a>
                    <h2 id="title_item">身心灵SPA礼盒6瓶</h2>
                    <p id="para">主要成分：身之清酵素——木瓜酵素、菠萝酵素、果寡糖、薏仁粉、水果酵素、覆盆莓等。心之盈酵素——由多种水果发酵萃取身之清酵素——木瓜酵素、菠萝酵素、果寡糖、薏仁粉、水果酵素、覆盆莓等。心之盈酵素——由多种水果发酵萃取</p>
                    <a class="lookover" href="productdetails.html">查看详情</a>
                </li>
            </ul>
        </div>
    </body>
    <script type="text/javascript" src="../js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../js/product.js"></script>
</html>