<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>联系我们 - 人才招聘</title>
	<link rel="icon" href="../images/index_tit_logo.ico" />
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/res.css">
	<link rel="stylesheet" href="../css/common.css">
	<script src="../js/jquery-1.11.3.min.js" charset="utf-8" type="text/javascript"></script>
	<script src="../js/jquery-1.11.3.min-1.js" charset="utf-8" type="text/javascript"></script>
</head>
<body>
<!--左侧导航栏区域-->
			<div class="menu">
				<!--头部-->
				<div class="headPic">
					<a href="../index.html#home"><img src="../images/index_logo.png" alt=""/></a>
				</div>
				<!--中英文切换-->
				<div class="langue clearfix">
					<a href="" class="ch">中文</a>
					<a href="" class="en">EN</a>
				</div>
				<!--导航栏-->
				 <ul class="nav" id="nav">
                    <li data-menuanchor="home" ><em><img src="../images/home-nav.png"/></em><a href="../index.html?page=0">集团首页</a></li>
                    <li data-menuanchor="company"><em><img src="../images/company-nav.png"/></em><a href="../index.html?page=1">集团介绍</a></li>
                    <li data-menuanchor="distri"><em><img src="../images/distri-nav.png" alt="" /></em><a href="../index.html?page=2">战略分布</a></li>
                    <li data-menuanchor="news"><em><img src="../images/news-nav.png"/></em><a href="../index.html?page=3">新闻资讯</a></li>
                    <li data-menuanchor="product"><em><img src="../images/product-nav.png" alt="" /></em><a href="../index.html?page=4">产品展示</a></li>
                    <li data-menuanchor="group"><em><img src="../images/groop-nav.png" alt="" /></em><a href="../index.html?page=5">团队展示</a></li>
                    <li data-menuanchor="contact" class="active"><em><img src="../images/contact-nav.png"/></em><a href="../index.html?page=6">联系我们</a></li>
                </ul>
				<!--页脚-->
				<div class="footer">
					<p>COPYRIGHT&copy; 2015 厦门益力康贸易有限公司 ALL RIGHTS RESERVED.</p>
				</div>
			</div>
<!-- 右侧内容区 -->
	<div class="main">
		<div class="main-top clearfix">
			<h2>人力资源</h2>
			<a href="../index.html?page=6">←返回</a>
		</div>
		<div class="li-centre">
			<div class="li-first clearfix">
				<h2>HTML5开发工程师</h2>
				<em class=""></em>
			</div>
			<div class="fot">
				<div class="li-second">
					<ul>
						<h2>工作职责和职位要求</h2>
						<li>1.精通“HTML”和“CSS 3”以及“JavaScript”面向对象编程方法，并能够手写页面代码。</li>
						<li>2.熟练掌握使用“Html+Javascript+Css”进行网页开发，熟悉“Html5+Css3”的新功能。</li>
						<li>3.熟练掌握使用“JavaScript”进行Web App开发，掌握至少一种服务端开发语言，例如PHP,Ruby,Java,Python等</li>
						<li>4.熟练掌握浏览器兼容性，确保兼容IE6、IE7+、Firefox、Chrome；</li>
						<li>5.使用html5进行图形化设计，制作动画效果，掌握Canvas。</li>
						<li>6.另外，如果你具备以下能力中的一项或多项，我们将予以优先考虑：</li>
						<li>7.有JQuery Mobile,Sencha Touch,iWebkit等框架使用经验。</li>
						<li>8.拥有在iPhone,iPad,Windows Phone,Android等移动终端平台的项目开发经验</li>
					</ul>
				</div>
				<div class="li-three">
					<div class="li-threea">
						<img src="../images/e-mail.png" alt="">
						<span>简历投递邮箱：</span>
						<em>ylk@ylkjs.com</em>
					</div>
					<div class="li-threeb">
						<img src="../images/people.jpg" alt="">
						<span>人力资源电话：</span>
						<em>(0592)2682171</em>
					</div>
				</div>
			</div>
		</div>
		<div class="li-centre">
			<div class="li-first clearfix">
				<h2>PHP资深程序工程师</h2>
				<em class=""></em>
			</div>
			<div class="fot">
				<div class="li-second">
					<ul>
						<h2>工作职责和职位要求</h2>
						<li>1.精通“HTML”和“CSS 3”以及“JavaScript”面向对象编程方法，并能够手写页面代码。</li>
						<li>2.熟练掌握使用“Html+Javascript+Css”进行网页开发，熟悉“Html5+Css3”的新功能。</li>
						<li>3.熟练掌握使用“JavaScript”进行Web App开发，掌握至少一种服务端开发语言，例如PHP,Ruby,Java,Python等</li>
						<li>4.熟练掌握浏览器兼容性，确保兼容IE6、IE7+、Firefox、Chrome；</li>
						<li>5.使用html5进行图形化设计，制作动画效果，掌握Canvas。</li>
						<li>6.另外，如果你具备以下能力中的一项或多项，我们将予以优先考虑：</li>
						<li>7.有JQuery Mobile,Sencha Touch,iWebkit等框架使用经验。</li>
						<li>8.拥有在iPhone,iPad,Windows Phone,Android等移动终端平台的项目开发经验</li>
					</ul>
				</div>
				<div class="li-three">
					<div class="li-threea">
						<img src="../images/e-mail.png" alt="">
						<span>简历投递邮箱：</span>
						<em>ylk@ylkjs.com</em>
					</div>
					<div class="li-threeb">
						<img src="../images/people.jpg" alt="">
						<span>人力资源电话：</span>
						<em>(0592)2682171</em>
					</div>
				</div>
			</div>
		</div>
		<div class="li-centre">
			<div class="li-first clearfix">
				<h2>资深网页美工设计师</h2>
				<em class=""></em>
			</div>
			<div class="fot">
				<div class="li-second">
					<ul>
						<h2>工作职责和职位要求</h2>
						<li>1.精通“HTML”和“CSS 3”以及“JavaScript”面向对象编程方法，并能够手写页面代码。</li>
						<li>2.熟练掌握使用“Html+Javascript+Css”进行网页开发，熟悉“Html5+Css3”的新功能。</li>
						<li>3.熟练掌握使用“JavaScript”进行Web App开发，掌握至少一种服务端开发语言，例如PHP,Ruby,Java,Python等</li>
						<li>4.熟练掌握浏览器兼容性，确保兼容IE6、IE7+、Firefox、Chrome；</li>
						<li>5.使用html5进行图形化设计，制作动画效果，掌握Canvas。</li>
						<li>6.另外，如果你具备以下能力中的一项或多项，我们将予以优先考虑：</li>
						<li>7.有JQuery Mobile,Sencha Touch,iWebkit等框架使用经验。</li>
						<li>8.拥有在iPhone,iPad,Windows Phone,Android等移动终端平台的项目开发经验</li>
					</ul>
				</div>
				<div class="li-three">
					<div class="li-threea">
						<img src="../images/e-mail.png" alt="">
						<span>简历投递邮箱：</span>
						<em>ylk@ylkjs.com</em>
					</div>
					<div class="li-threeb">
						<img src="../images/people.jpg" alt="">
						<span>人力资源电话：</span>
						<em>(0592)2682171</em>
					</div>
				</div>
			</div>
		</div>
		<div class="li-centre">
			<div class="li-first clearfix">
				<h2>采购</h2>
				<em class=""></em>
			</div>
			<div class="fot">
				<div class="li-second">
					<ul>
						<h2>工作职责和职位要求</h2>
						<li>1.精通“HTML”和“CSS 3”以及“JavaScript”面向对象编程方法，并能够手写页面代码。</li>
						<li>2.熟练掌握使用“Html+Javascript+Css”进行网页开发，熟悉“Html5+Css3”的新功能。</li>
						<li>3.熟练掌握使用“JavaScript”进行Web App开发，掌握至少一种服务端开发语言，例如PHP,Ruby,Java,Python等</li>
						<li>4.熟练掌握浏览器兼容性，确保兼容IE6、IE7+、Firefox、Chrome；</li>
						<li>5.使用html5进行图形化设计，制作动画效果，掌握Canvas。</li>
						<li>6.另外，如果你具备以下能力中的一项或多项，我们将予以优先考虑：</li>
						<li>7.有JQuery Mobile,Sencha Touch,iWebkit等框架使用经验。</li>
						<li>8.拥有在iPhone,iPad,Windows Phone,Android等移动终端平台的项目开发经验</li>
					</ul>
				</div>
				<div class="li-three">
					<div class="li-threea">
						<img src="../images/e-mail.png" alt="">
						<span>简历投递邮箱：</span>
						<em>ylk@ylkjs.com</em>
					</div>
					<div class="li-threeb">
						<img src="../images/people.jpg" alt="">
						<span>人力资源电话：</span>
						<em>(0592)2682171</em>
					</div>
				</div>
			</div>
		</div>
		<div class="li-centre">
			<div class="li-first clearfix">
				<h2>项目经理</h2>
				<em class=""></em>
			</div>
			<div class="fot">
				<div class="li-second">
					<ul>
						<h2>工作职责和职位要求</h2>
						<li>1.精通“HTML”和“CSS 3”以及“JavaScript”面向对象编程方法，并能够手写页面代码。</li>
						<li>2.熟练掌握使用“Html+Javascript+Css”进行网页开发，熟悉“Html5+Css3”的新功能。</li>
						<li>3.熟练掌握使用“JavaScript”进行Web App开发，掌握至少一种服务端开发语言，例如PHP,Ruby,Java,Python等</li>
						<li>4.熟练掌握浏览器兼容性，确保兼容IE6、IE7+、Firefox、Chrome；</li>
						<li>5.使用html5进行图形化设计，制作动画效果，掌握Canvas。</li>
						<li>6.另外，如果你具备以下能力中的一项或多项，我们将予以优先考虑：</li>
						<li>7.有JQuery Mobile,Sencha Touch,iWebkit等框架使用经验。</li>
						<li>8.拥有在iPhone,iPad,Windows Phone,Android等移动终端平台的项目开发经验</li>
					</ul>
				</div>
				<div class="li-three">
					<div class="li-threea">
						<img src="../images/e-mail.png" alt="">
						<span>简历投递邮箱：</span>
						<em>ylk@ylkjs.com</em>
					</div>
					<div class="li-threeb">
						<img src="../images/people.jpg" alt="">
						<span>人力资源电话：</span>
						<em>(0592)2682171</em>
					</div>
				</div>
			</div>
		</div>
	</div>	
</div>
<script src="../js/contact.js" charset="utf-8" type="text/javascript"></script>
</body>
</html>