<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻咨询-新闻详情</title>
	<link rel="icon" href="../images/index_tit_logo.ico" />
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/res.css">
	<link rel="stylesheet" href="../css/common.css">
	<script src="../js/jquery-1.11.3.min.js" charset="utf-8" type="text/javascript"></script>
</head>
<body
<!--左侧导航栏区域-->
			<div class="menu">
				<!--头部-->
				<div class="headPic">
					<a href="../index.html#home"><img src="../images/index_logo.png" alt=""/></a>
				</div>
				<!--中英文切换-->
				<div class="langue clearfix">
					<a href="" class="ch">中文</a>
					<a href="" class="en">EN</a>
				</div>
				<!--导航栏-->
				 <ul class="nav" id="nav">
                    <li data-menuanchor="home" ><em><img src="../images/home-nav.png"/></em><a href="../index.html?page=0">集团首页</a></li>
                    <li data-menuanchor="company"><em><img src="../images/company-nav.png"/></em><a href="../index.html?page=1">集团介绍</a></li>
                    <li data-menuanchor="distri"><em><img src="../images/distri-nav.png" alt="" /></em><a href="../index.html?page=2">战略分布</a></li>
                    <li data-menuanchor="news" class="active"><em><img src="../images/news-nav.png"/></em><a href="../index.html?page=3">新闻资讯</a></li>
                    <li data-menuanchor="product"><em><img src="../images/product-nav.png" alt="" /></em><a href="../index.html?page=4">产品展示</a></li>
                    <li data-menuanchor="group"><em><img src="../images/groop-nav.png" alt="" /></em><a href="../index.html?page=5">团队展示</a></li>
                    <li data-menuanchor="contact"><em><img src="../images/contact-nav.png"/></em><a href="../index.html?page=6">联系我们</a></li>
                </ul>
				<!--页脚-->
				<div class="footer">
					<p>COPYRIGHT&copy; 2015 厦门益力康贸易有限公司 ALL RIGHTS RESERVED.</p>
				</div>
			</div>
	<div class="main">
		<!-- 新闻资讯 -->
		<div class="main-tab clearfix">
			<h3>NEWS AND INFORMATION</h3>
			<h2>新闻资讯</h2>
			<a href="../index.html?page=3">←返回</a>
		</div>
		<div class="main-fottab">
			<!-- 内容图文区域 -->
			<div class="team-f clearfix">
				<a href="news-detail.html">
					<div class="team-first" style="float : left">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : right">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : left">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : right">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : left">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : right">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : left">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : right">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : left">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : right">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : left">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
				<a href="news-detail.html">
					<div class="team-first" style="float : right">
						<img src="../images/dt_a.png" alt=""> 
						<span>关于益力康益立素及常伴部分产品品名更换通知</span>
						<em>2015-09-01</em>
						<h3>查看详情</h3>
					</div>
				</a>
			</div>
			<div class="page">
				<span class="t">首页</span>
				<span>1</span>
				<span>2</span>
				<span>3</span>
				<span>4</span>
				<a href="">...</a>
				<span class="atr">尾页</span>
			</div>
		</div>
		
	</div>
				
				
	<script src="../js/team.js" charset="utf-8" type="text/javascript"></script>
</body>
</html>