<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>产品详情</title>
		<link rel="icon" href="../images/index_tit_logo.ico" />
        <link rel="stylesheet" type="text/css" href="../css/reset.css" />
        <link rel="stylesheet" type="text/css" href="../css/productdetails.css" />
        <link rel="stylesheet" type="text/css" href="../css/common.css" />
        <link rel="stylesheet" type="text/css" href="../iconfont/iconfont.css" />
    </head>
    <body>
        <!--左侧导航栏区域-->
        <div class="menu">
            <!--头部-->
            <div class="headPic">
				<a href="../index.html#home"><img src="../images/index_logo.png" alt=""/></a>
            </div>
            <!--中英文切换-->
            <div class="langue clearfix">
                <a href="" class="ch">中文</a>
                <a href="" class="en">EN</a>
            </div>
            <!--导航栏-->
            <ul class="nav" id="nav">
                <li data-menuanchor="home"><em><img src="../images/home-nav.png"/></em><a href="../index.html?page=0">集团首页</a></li>
                <li data-menuanchor="company"><em><img src="../images/company-nav.png"/></em><a href="../index.html?page=1">集团介绍</a></li>
                <li data-menuanchor="distri"><em><img src="../images/distri-nav.png" alt="" /></em><a href="../index.html?page=2">战略分布</a></li>
                <li data-menuanchor="news"><em><img src="../images/news-nav.png"/></em><a href="../index.html?page=3">新闻资讯</a></li>
                <li data-menuanchor="product" class="active"><em><img src="../images/product-nav.png" alt="" /></em><a href="../index.html?page=4" >产品展示</a></li>
                <li data-menuanchor="group"><em><img src="../images/groop-nav.png" alt="" /></em><a href="../index.html?page=5">团队展示</a></li>
                <li data-menuanchor="contact"><em><img src="../images/contact-nav.png"/></em><a href="../index.html?page=6">联系我们</a></li>
            </ul>
            <!--页脚-->
            <div class="footer">
                <p>COPYRIGHT&copy;2015 厦门益力康贸易有限公司 ALL RIGHTS RESERVED.</p>
            </div>
        </div>
        <div class="details">
            <div class="head_details">
                <h2>产品详情</h2>
                <a href="product.html">
                    <em class="iconfont icon-left"></em>返回</a>
            </div>
            <div class="main_details">
                <img src="../images/pic_details.png" alt="" />
                <h3>极果酵素原液</h3>
                <p>原料：严选台湾特产之凤梨、红葡萄、木瓜、苹果、芭乐、奇异果、桂圆、荔枝、莲雾、释迦、红枣等新鲜水果的全果及猴头菇、柳松菇等菌菇类，加入益力康独有的优质益菌，用现代高新的生物科技发酵精酿而成。台湾宝岛气候宜人，地理位置得天独厚，是水果的王国。我们所选原料均以有机食品为标准，纯天然无污染。成份：丰富的水果酵素、维生素B群、维生素A、维生素E、钾、镁、铁、锌、钠、锰、钙、纤维素、β胡萝卜素、葡萄糖及果寡糖等。</p>
            </div>
        </div>
    </body>
</html>