<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>新闻咨询-新闻详情</title>
	<link rel="stylesheet" href="../css/reset.css">
	<link rel="stylesheet" href="../css/res.css">
	<link rel="stylesheet" href="../css/common.css">
	<script src="../js/jquery-1.11.3.min.js" charset="utf-8" type="text/javascript"></script>
	<script src="../js/jquery-1.11.3.min-1.js" charset="utf-8" type="text/javascript"></script>
</head>
<body>
<div class="menu">
				<!--头部-->
				<div class="headPic">
					<a href="../index.html#home"><img src="../images/index_logo.png" alt=""/></a>
				</div>
				<!--中英文切换-->
				<div class="langue clearfix">
					<a href="" class="ch">中文</a>
					<a href="" class="en">EN</a>
				</div>
				<!--导航栏-->
				 <ul class="nav" id="nav">
                    <li data-menuanchor="home" ><em><img src="../images/home-nav.png"/></em><a href="../index.html?page=0">集团首页</a></li>
                    <li data-menuanchor="company"><em><img src="../images/company-nav.png"/></em><a href="../index.html?page=1">集团介绍</a></li>
                    <li data-menuanchor="distri"><em><img src="../images/distri-nav.png" alt="" /></em><a href="#../index.html?page=2">战略分布</a></li>
                    <li data-menuanchor="news" class="active"><em><img src="../images/news-nav.png"/></em><a href="../index.html?page=3">新闻资讯</a></li>
                    <li data-menuanchor="product"><em><img src="../images/product-nav.png" alt="" /></em><a href="../index.html?page=4">产品展示</a></li>
                    <li data-menuanchor="group"><em><img src="../images/groop-nav.png" alt="" /></em><a href="../index.html?page=5">团队展示</a></li>
                    <li data-menuanchor="contact"><em><img src="../images/contact-nav.png"/></em><a href="../index.html?page=6">联系我们</a></li>
                </ul>
				<!--页脚-->
				<div class="footer">
					<p>COPYRIGHT&copy; 2015 厦门益力康贸易有限公司 ALL RIGHTS RESERVED.</p>
				</div>
			</div>
		<!-- 右侧内容区 -->
		<div class="main">
		<div class="main-t clearfix">
			<h2>新闻详情</h2>
			<a href="news-tit.html">←返回</a>
		</div>
			<div class="details clearfix">
				<div class="details-t clearfix">
					<h2>益力康集团与恒益久承机构签约，筹备上市</h2>
					<p>
						<em>2015.06.12</em>
						<span>发布：益力康</span>
					</p>
				</div>
				<div class="details-tele">
					<p>2015年6月11日下午15时许，益力康集团旗下子公司厦门益力康贸易有限公司、常伴（厦门）健康管理有限公司与恒益久承（中国）机构在总部举行了签约仪式，这意味着益力康旗下两家子公司正式授权恒益久承（中国）机构处理公司上市事宜。这是继益力康集团在厦门股权交易中心正式挂牌后又做出的一项重要举措，两家公司强强联合意味着益力康的发展将越来越好，酵素产业前景不可估量！敬请期待在上交所鸣锣的那一刻！</p>
					<img src="../images/details.png" alt="">
					<img src="../images/details_a.png" alt="">
        </div>
			</div>
		</div>
</body>
</html>